# Python
__pycache__/
*.pyc
.venv/
venv/
.env

# Jupyter
.ipynb_checkpoints/

# Model
*.pkl
*.pt
*.h5

# Data cache
embeddings/
04_result/*.csv

# OS
.DS_Store

# IDE
.vscode/
.idea/

# 기타
__pycache__/
*.pyc